footer{
    height:10% !important;
    width:100% !important;
    position:fixed;
    bottom:0%;
}
header{
    height:15% !important;
    width:100% !important;
    position:fixed;
    top:0%;
}
.tabClass{
    height:75%;
    width:100%;
    position:fixed;
    top:15%;
}